.text-success {
    color: #4CAF50;
}

.eco-green-text {
    color: #4CAF50;
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.overlay {
  background: rgba(255, 255, 255, 0.8); /* Ajout d'une superposition blanche pour améliorer la lisibilité */
  padding: 20px;
}

/* ======================= CARROUSEL =============================*/

.carousel-inner {
    position: relative; /* Nécessaire pour centrer les éléments internes */
}

.carousel-item img {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.carousel-item img {
  width: 100%;
  height: 30vh; /* Utilisation de vh au lieu de px */
  object-fit: contain;
}

.carousel-caption {
  position: static;
  color: var(--text-color);
  text-align: center;
  background-color: var(--primary-color);
  padding: 0.75rem;
  border-radius: var(--radius);
  margin-top: 0.5rem;
}

.carousel-caption h3 {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  margin: 0;
}

.carousel-caption p {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: -2rem;
}

.carousel-indicators button {
  background-color: var(--secondary-color);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin: 0 0.25rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 0.75rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.rating {
  margin-top: 0.5rem;
}

.stars {
  color: gold;
  letter-spacing: 2px;
  margin-right: 0.5rem;
}

.rating-text {
  font-size: 0.9rem;
}
